<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="renewa.css">
    <link rel="stylesheet" href="blog_page.css">
</head>
<body>
    <nav>
        <div class="container navbar flex">
            <div class="left-nav">
                <h2><a class="font" href="">Renewa</a></h2>
            </div>
            <div class="mid-nav">
                <ul class="flex">
                    <li><a href="" class="hover-link underline"><i class="fa-sharp fa-solid fa-square-rss"></i> Blog</a></li>
                    <li><a href="" class="hover-link underline"><i class="fa-solid fa-bowl-food"></i> Food</a></li>
                    <li><a href="" class="hover-link underline"><i class="fa-solid fa-cart-shopping"></i> Groceries</a></li>
                    <li><a href="" class="hover-link underline"><i class="fa-solid fa-mortar-pestle"></i> Recipe</a></li>
                    <li><a href="" class="hover-link underline"><i class="fa-solid fa-heart"></i> Donate</a></li>
                </ul>
            </div>
            <div class="right-nav">
                <a href="">Login</a>
            </div>
        </div>
    </nav>
    <section class="blog-card-sec">
        <div class="container blog-cont flex">
            <div class="left-blog">
                <div class="card-area flex">
                <a href="" class="blogcard-achor">
                    <div class="blogcard flex">
                        <div class="left-blogcard">
                            <h2>I have Created a new reciepe using 2 veges only!</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptas nam velit at ex minus! Asperiores cumque beatae magnam eum odit natus harum molestias repellendus, dolores exercitationem. Dignissimos, soluta ea?</p>
                            <h3>Nikunj Gupta</h3>
                        </div>
                        <div class="right-blogcard flex">
                            <img src="Assets/Shahi-Paneer-4.jpg" alt="">
                        </div>
                    </div>
                </a>
                </div>
            </div>
            <div class="right-blog">
               <div class="headers">
                <h2>Tips</h2>
               </div>
               <div class="tip-content">
                <div class="tip-cont flex">
                    <p>1) Plan your meals mindfully, considering the portions you need and the ingredients you already have. This way, you can avoid buying excessive food and reduce wastage.</p>
                    <p>2)Store fruits and vegetables separately in the refrigerator. They emit natural gases that can accelerate spoilage if stored together. Also, wrap leafy greens in a damp cloth or paper towel to keep them fresh for longer.</p>
                    <p>3) Don't let leftovers go to waste. Get creative and repurpose them into new meals. For example, leftover dal can be used as a filling for parathas or added to soups for added flavor.</p>
                    <p>4) Practice portion control and serve small portions initially. You can always go for seconds if needed. This way, you can minimize plate waste and prevent overeating.</p>
                    <p>5) When cooking, make use of vegetable scraps and peels. You can create nutritious broths or stocks from them, which can be used as a base for soups or gravies.</p>
                    <p>6) Label and date the items in your pantry and refrigerator to keep track of their freshness. This will help you prioritize consuming the items that are nearing their expiration dates.</p>
                    <p>7) Invest in proper storage containers and utilize them to store leftovers. Clear containers can help you easily identify what's inside, reducing the chances of forgetting about them and letting them go to waste.</p>
                    <p>8) Educate yourself about proper food storage techniques, such as blanching and freezing vegetables, or using vinegar solutions to keep cut fruits from browning. This knowledge can go a long way in preserving food.</p>
                    <p>9) Be mindful of your grocery shopping habits. Avoid impulse buying and stick to your shopping list. Also, try to support local farmers and buy seasonal produce, as it tends to be fresher and lasts longer.</p>
                    <p>10) Donate excess food to local charities or organizations that distribute food to those in need. By sharing what you have, you not only reduce waste but also contribute to helping others in your community.</p>
                </div>
               </div>
                    
            </div>
        </div>
    </section>
</body>
<script src="https://kit.fontawesome.com/b5a8447ad3.js" crossorigin="anonymous"></script>
</html>