{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static './css/blogpost.css' %}">
    <link rel="stylesheet" href="{% static './css/design.css' %}">

</head>
<body>
    <!-- <form method="POST" action=""></form> -->
    {% for blog in blogs %}

    <section class="Buy-cards">
        <div class="container cards-listing flex">
            <div class="listing flex">
                <div class="list-card flex">
                    <!-- <img src="Asset/SampleHouse.jpg" alt=""> -->
                    {{ blog.content | safe }}
                    <div class="list-details flex">
                        <h3>2 Bhk Ready to sale in Greater Noida</h3>
                        <div class="highlighted-feat flex">
                            <p class="Bedno"><i class="fas fa-bed"></i> 4 Bed</p>
                            <p class="Area"><i class="fas fa-vector-square"></i> 2000m²</p>
                            <p class="Parking"><i class="fas fa-building"></i> 2nd Floor</p>
                            <p class="place"><i class="fa-solid fa-location-dot"></i> Greater Noida</p>
                        </div>
                        <p>Builder floor apartment is available for sale. It covered area of 646 sq-ft, it is a good location property. Please contact for more details. Dwarka sector- 8</p>
                        <h3><i class="fa-solid fa-house-user"></i> Owner : Mr. Nikunj Gupta</h3>
                    </div>
                    <div class="list-contact flex">
                        <h3>₹ 25 Lakhs</h3>
                        <div class="contact-btn">
                            <a class="primary-button"href="">Contact <span class="Arrow">></span> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ads">
               <div class="sample"></div>
            </div>
        </div>
    </section>
    {% endfor %}
</body>
</html>