
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static './css/donate.css' %}">


</head>


<body>
    
<nav>
    <div class="container navbar flex">
        <div class="left-nav">
            <h2><a href="{% url 'home' %}" class="font" href="">Renewa</a></h2>
        </div>
        <div class="mid-nav">
            <ul class="flex">
                <li><a href="{% url 'blog' %}" class="hover-link underline"><i class="fa-sharp fa-solid fa-square-rss"></i> Blog</a></li>
                <li><a href="{% url 'food' %}" class="hover-link underline"><i class="fa-solid fa-bowl-food"></i> Food</a></li>
                <li><a href="{% url 'grocery_card' %}" class="hover-link underline"><i class="fa-solid fa-cart-shopping"></i> Groceries</a></li>
                <li><a href="{% url 'recipe' %}" class="hover-link underline"><i class="fa-solid fa-mortar-pestle"></i> Recipe</a></li>
                <li><a href="{% url 'donate' %}" class="hover-link underline"><i class="fa-solid fa-heart"></i> Donate</a></li>
            </ul>
        </div>
        {% if user.is_authenticated %}
        <div class="right-nav">
            <a href="{% url 'logout' %}">Logout</a>
        </div>
        {% else %}
        <div class="right-nav">
            <a href="{% url 'login' %}">Login</a>
        </div>
        {% endif %}
    </div>
</nav>
    <section class="dpage">
        <div class="container dpage-cont flex">
            <div class="left">
                <h1>YOU are the KINGGG <br>
                    Here is your CROWN.
                </h1>
                <form method="POST" action="{% url 'donate' %}" class="address flex">
                    {% csrf_token %}
                <input placeholder="What do you wanna donate today" type="text" name="food_type" id="type" required><br>
                <input placeholder="Enter your address" type="text" name="address" id="adrs" required><br>
                <button>That's the place</button>
                </form>

            </div>
            <div class="right">
                <img src="{% static './images/donate.jpeg' %}" alt="">

            </div>

            
        </div>
    </section>

</body>
<script src="https://kit.fontawesome.com/b5a8447ad3.js" crossorigin="anonymous"></script>

</html>