{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="dpage">
        <div class="container dpage-cont flex">
            <div class="left">
                <h1>YOU are the KINGGG <br>
                    Here is your CROWN.
                </h1>
                <form action="" class="address flex">
                <input placeholder="What do you wanna donate today" type="text" name="type" id="type" required><br>
                <input placeholder="Enter your address" type="text" name="adrs" id="adrs" required><br>
                <button>That's the place</button>
                </form>

            </div>
            <div class="right">
                <img src="{% static './images/donate.jpeg' %}" alt="">

            </div>

            
        </div>
    </section>

{% endblock %}