::-webkit-scrollbar {
    width: 0px;
}
.left-blogcard{
    width: 65%;
    height: 100%;
    padding: var(--padding-inline);
    background-color: var(--green1);
    background-image: url(Assets/blogbg.png);
    background-size: cover;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.left-blog p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.right-blogcard img{
    width: 100%;
    border-radius: 12px;
}
.right-blogcard{
    
    width: 30%;
    padding: var(--padding-inline);
}
.blogcard{
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border: 2px solid;
    border-radius: 12px;
}
.blogcard-achor{
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.left-blog{
    width: 65%;
    overflow: hidden;
    overflow-y:visible;
    
    height: calc(100vh - 90px)
}
.card-area{
    flex-direction: column;
    gap: 30px;
}
.blog-card-sec{
    padding-top: 80px;
}
.right-blog{
    width :30%;
    overflow: hidden;
    overflow-y:hidden;
    height: calc(100vh - 90px);
    border: 2px solid;
}
.blog-cont{
    justify-content: space-between;
}
.right-blog{
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 12px;
}
.headers{
    position: fixed;
    text-align: center;
    background-color: #fefefe;
    width: 25.6%;
    border-radius: 12px;
}
.tip-cont{
    flex-direction: column;
    gap: 20px;
    padding: var(--padding-inline);
    margin-top: 50px;
    text-align: justify;
}
