
{%  load static %}
<nav>
    <div class="container navbar flex">
        <div class="left-nav">
            <h2><a class="font" href="">Renewa</a></h2>
        </div>
        <div class="mid-nav">
            <ul class="flex">
                <li><a href="" class="hover-link underline"><i class="fa-sharp fa-solid fa-square-rss"></i> Blog</a></li>
                <li><a href="" class="hover-link underline"><i class="fa-solid fa-bowl-food"></i> Food</a></li>
                <li><a href="" class="hover-link underline"><i class="fa-solid fa-cart-shopping"></i> Groceries</a></li>
                <li><a href="" class="hover-link underline"><i class="fa-solid fa-mortar-pestle"></i> Recipe</a></li>
                <li><a href="" class="hover-link underline"><i class="fa-solid fa-heart"></i> Donate</a></li>
            </ul>
        </div>
        {% if user.is_authenticated %}
        <div class="right-nav">
            <a href="{% url 'logout' %}">Logout</a>
        </div>
        {% else %}
        <div class="right-nav">
            <a href="{% url 'login' %}">Login</a>
        </div>
        {% endif %}
    </div>
</nav>

